body {
  background-color: #FFFFDF;
  text-align: center;
  opacity: 0.8;
  color: #5A0075;
  .page {
    .ui-content {
      .header {
        padding-bottom: 10px;
        h1 {
          margin: 10px auto;
        }
        hr {
          margin: 3px auto;
        }
      }
      .login {
        border-radius: 5px;
        border: solid 1px;
        margin: 20px 10% 20px 10%;
        h3 {
          margin: -11px auto 10px auto;
          background-color: #FFFFDF;
          width: 50%;
          font-size: 20px;
        }
        .authentication {
          font-size: 15px;
          .login-form {
            margin: 5px 5% 5px 5%;
            line-height: 35px;
            .form-unit {
              width: 80%;
              margin: 1px 10% 1px 10%;
              letter-spacing: 2px;
              label {
                padding: 0 3px;
                width: 100px;
              }

            }
          }
        }
      }
    }
  }
}