<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <mappers>
        <mapper resource="neforon/sunshine/mapper/project.xml"/>
        <mapper resource="neforon/sunshine/mapper/qrcode.xml"/>
        <mapper resource="neforon/sunshine/mapper/guidance.xml"/>
        <mapper resource="neforon/sunshine/mapper/earnmoney.xml"/>
        <mapper resource="neforon/sunshine/mapper/price.xml"/>
        <mapper resource="neforon/sunshine/mapper/premiseview.xml"/>
        <mapper resource="neforon/sunshine/mapper/coupon.xml"/>
        <mapper resource="neforon/sunshine/mapper/premiseadvantage.xml"/>
        <mapper resource="neforon/sunshine/mapper/housetype.xml"/>
        <mapper resource="neforon/sunshine/mapper/manager.xml"/>
    </mappers>
</configuration>